<!-- ORDER TABLE :) -->
<span class="example-spacer"></span>
<div class="example-label"></div>
<div class="example-button-row">
  <button
    mat-raised-button
    color="primary"
    class="example-button-size"
    (click)="openAddOrderDialog()"
  >
    Add
  </button>
</div>

<mat-form-field appearance="standard" class="example-filter">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Adam" #input />
</mat-form-field>
<div class="mat-elevation-z8 Order-Table">
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID.</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
      <td mat-cell *matCellDef="let element">
        {{ element.date | date }}
      </td>
    </ng-container>

    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Address</th>
      <td mat-cell *matCellDef="let element">
        {{ element.address | uppercase }}
      </td>
    </ng-container>

    <ng-container matColumnDef="custname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Cust-Name</th>
      <td mat-cell *matCellDef="let element">{{ element.custname }}</td>
    </ng-container>

    <ng-container matColumnDef="nettotal">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Net-Total</th>
      <td mat-cell *matCellDef="let element">
        {{ element.netTotal | currency }}
      </td>
    </ng-container>

    <ng-container matColumnDef="grosstotal">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Gross-Total</th>
      <td mat-cell *matCellDef="let element">
        {{ element.grossTotal | currency }}
      </td>
    </ng-container>

    <ng-container matColumnDef="totaltax">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Total-tax</th>
      <td mat-cell *matCellDef="let element">
        {{ element.taxTotal | currency }}
      </td>
    </ng-container>

    <ng-container matColumnDef="totaldiscount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Total-Discount</th>
      <td mat-cell *matCellDef="let element">
        {{ element.discountTotal | currency }}
      </td>
    </ng-container>

    <ng-container matColumnDef="operationType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Operation-Type</th>
      <td mat-cell *matCellDef="let element">{{ element.operationType }}</td>
    </ng-container>

    <ng-container matColumnDef="quantityTotal">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Quantity Total</th>
      <td mat-cell *matCellDef="let element">{{ element.quantityTotal }}</td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-icon-button
          (click)="openOrderDetialsDialog(element.id)"
          matTooltip="Order Details"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-eye-fill"
            viewBox="0 0 16 16"
          >
            <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
            <path
              d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"
            />
          </svg>
        </button>
        <button
          mat-icon-button
          color="warn"
          (click)="DeleteOrder(element.id)"
          matTooltip="Delete"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">
        No data matching the filter "{{ input.value }}"
      </td>
    </tr>
  </table>
  <mat-paginator
    [pageSizeOptions]="[5, 10, 15, 20]"
    aria-label="Select page of users"
  ></mat-paginator>
</div>
