<!-- ITEM TABLE -->
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <button
      class="btn btn-outline-secondary"
      type="submit"
      routerLink="/order-Table"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-backspace"
        viewBox="0 0 16 16"
      >
        <path
          d="M5.83 5.146a.5.5 0 0 0 0 .708L7.975 8l-2.147 2.146a.5.5 0 0 0 .707.708l2.147-2.147 2.146 2.147a.5.5 0 0 0 .707-.708L9.39 8l2.146-2.146a.5.5 0 0 0-.707-.708L8.683 7.293 6.536 5.146a.5.5 0 0 0-.707 0z"
        />
        <path
          d="M13.683 1a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-7.08a2 2 0 0 1-1.519-.698L.241 8.65a1 1 0 0 1 0-1.302L5.084 1.7A2 2 0 0 1 6.603 1h7.08zm-7.08 1a1 1 0 0 0-.76.35L1 8l4.844 5.65a1 1 0 0 0 .759.35h7.08a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1h-7.08z"
        />
      </svg>
      Back
    </button>

    <a
      class="navbar-brand"
      style="font-family: Georgia, 'Times New Roman', Times, serif"
      >Items Table</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            style="cursor: pointer"
            (click)="oPenitemDialog()"
            >Add Item</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
<mat-form-field appearance="standard" class="example-filter">
  <mat-label>Filter</mat-label>
  <input
    matInput
    (keyup)="applyFilter($event)"
    placeholder="Ex. Out of stock"
    #input
  />
</mat-form-field>

<!-- TABLE STARTS -->
<div class="mat-elevation-z8 Order-Table">
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <ng-container matColumnDef="company">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Item-Name</th>
      <td mat-cell *matCellDef="let element">
        {{ element.company | uppercase }}
      </td>
    </ng-container>

    <ng-container matColumnDef="availability">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Availability</th>
      <td mat-cell *matCellDef="let element">
        {{ element.availability | uppercase }}
      </td>
    </ng-container>

    <ng-container matColumnDef="categories">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Categories</th>
      <td mat-cell *matCellDef="let element">
        {{ element.categories.categoryName }}
      </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>price</th>
      <td mat-cell *matCellDef="let element">{{ element.price | currency }}</td>
    </ng-container>

    <ng-container matColumnDef="discount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>discount</th>
      <td mat-cell *matCellDef="let element">
        {{ element.discount / 100 | percent }}
      </td>
    </ng-container>

    <ng-container matColumnDef="tax">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>tax</th>
      <td mat-cell *matCellDef="let element">
        {{ element.tax / 100 | percent }}
      </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
      <td mat-cell *matCellDef="let element">{{ element.description }}</td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element">
        <a
          [routerLink]="['/Item-Table', 'edit', element.id]"
          mat-icon-button
          color="primary"
          matTooltip="Edit"
        >
          <mat-icon>edit</mat-icon>
        </a>
        <button
          mat-icon-button
          color="warn"
          (click)="DeleteItem(element.id)"
          matTooltip="Delete"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      (click)="selection.toggle(row)"
    ></tr>
    <!-- TABLE ENDS HERE -->

    <!-- FILTERING IF THERE IS NO MATCHING DATA -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">
        No data matching the filter "{{ input.value }}"
      </td>
    </tr>
  </table>
  <!-- paginator -->
  <mat-paginator
    [pageSizeOptions]="[3, 6, 12, 20]"
    aria-label="Select page of users"
  ></mat-paginator>
</div>
